apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodeapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nodeapp
  template:
    metadata:
      labels:
        app: nodeapp
    spec:
      containers:
        - name: nodeapp
          image: 127424156209.dkr.ecr.eu-west-2.amazonaws.com/node-eks-app:latest
          ports:
            - containerPort: 3000
